@import 'tailwindcss';

@layer base {
	html,
	body {
		background-color: #0f172a;
		color: #f1f5f9;
		overflow-x: hidden;
		height: 100%;
	}
  
	main {
		width: 100vh;
		height: 100vh;
	}
  
  h1 {
    font-size: x-large;
  }
}
